* {
    box-sizing: border-box;
}

.color-1 {
    color: #78CCF9;
}

.color-2 {
    color: #f4f4f4;
}

body {
    background-color: #343034;
}

h1,h3,h4,body,ul, p {
    margin: 0;
    padding: 0;
}

.d-flex-r {
    display: flex;
    flex-direction: row;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
}

.App {
    position: relative;
}

/* ############### NAV ##################### */
nav {
    justify-content: space-between;
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    background-color: #343034ce;
    z-index: 1;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.10);
}

.n-ul {
    list-style-type: none;
    display: none;
}

.n-ul>li {
    translate: transformX(-50rem);
    width: 0;
}

/* ############# HOME ####################### */

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-box-1 {
    padding-block: 7rem;
    width: 90%;
    align-items: center;
}

.home-box-1> :nth-child(2) {
    /* 25.6px */
    /* 8vw */
    /* 32px */
    font-size: clamp(25.6px, 8vw, 32px);
    animation: blinking_light 0.7s linear;
    text-shadow: -0.1rem 0.1rem 0.8rem #f0f0f0;
    user-select: none;
}

.home-box-1>:nth-child(2):hover{
    animation: blinking_light 1s linear infinite;
}

.home-box-1> :nth-child(3) {
    margin-top: 1rem;
    max-width: 486px;
}

.home-contacts {
    margin-block: 1rem 2rem;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.home-contacts>.circle {
    border-radius: 2rem;
    background-color: rgba(90, 83, 90, 0.5);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.10);
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
}

.home-contacts> :nth-child(2) {
    margin-inline: 1rem 0rem;
}

.home-contacts> :nth-child(3) {
    margin-inline: 1rem;
}

.circle:hover>#homeIcons {
    cursor: pointer;
    filter: drop-shadow(0 0 0 rgb(255, 255, 255, 0));
}

#homeIcons {
    pointer-events: none;
    width: 1.4rem;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255, 0.5));
    animation: blinking_droplight 0.7s linear;
}

.home-box-1>.buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 120px;
    justify-content: space-between;
    max-width: 620px;
    align-items: center;
}

.buttons>.row {
    background-color: rgba(90, 83, 90, 0.5);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.10);
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    width: 100%;
    max-width: 257px;
}

.buttons>.row:hover {
    background-color: rgba(123, 120, 123, 0.5);
}

/* #################### ABOUT ME #################### */
.aboutme {
    align-items: center;
    padding-block: 2rem;
}

header {
    width: 80%;
    align-items: center;
    margin-block-end: 2rem;
    user-select: none;
}

header > h1 {
    animation: blinking_light 0.7s linear;
    text-shadow: -0.1rem 0.1rem 0.8rem #f0f0f0;
}

header > h1:hover {
    animation: blinking_light 1s linear infinite;
}

.about-box {
    background-color: rgba(90, 83, 90, 0.50);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.10);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 1020px;
    padding: 2rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about-box-1, .about-box-2 {
    max-width: 492.15px;
    margin-block: 1rem;
    padding-inline: 1rem;
}

.about-box-1> :nth-child(1) {
    margin-bottom: 1.5rem;
}

.about-box-1> :nth-child(2) {
    text-align: justify;
    margin-bottom: 2rem;
}

.myinfo>.row {
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-info {
    width: 70%;
    max-width: 156px;
    margin-block: 0.5rem;
    text-align: center;
}

.exp-box {
    margin-block: 1rem;
    padding: 1.5rem 1rem;
    background-color: rgba(133, 123, 133, 0.5);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exp-box-wrap {
    margin-inline-end: 1rem;
}

.exp-box-wrap > p {
    font-size: 0.8rem;
}

.date > p {
    font-size: 0.75rem;
    background-color: rgba(133, 123, 133, 0.3);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.10);
    padding: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-inline: 1rem; */
}

.exp-box > :nth-child(3) {
    margin-block: 1rem;
    font-size: 0.8rem;
}

.tech-stack {
    width: 100%;
    gap: 0.3rem;
    flex-wrap: wrap;
    align-items: start;
}

.tech {
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.3rem;
    height: 23px;
    border-radius: 0.3rem;
    background-color: rgba(133, 123, 133, 0.3);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.20);
}

.tech-logo {
    width: 12px;
    margin-inline-end: 0.2rem;
}

.tech-used {
    font-size: 0.8rem;
    margin-block-end: 0;
}

/* ########### MY SKILLS ############### */
.skills {
    align-items: center;
    padding-block: 2rem;
}

.skills-box {
    width: 90%;
    padding: 1rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1018.18px;
}

.skills-box > .row {
    background-color: #5a535a75;
    width: 90%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.10);
    max-width: 480px;
    padding: 0.3rem 1rem 1rem;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

.skills-box > .row > h4 {
    border-bottom: 0.1rem solid white;
    padding-block: 0.3rem;
    margin-bottom: 0.5rem;
    height: 31px;
}

/* ########### My Projects ################# */
.projects {
    align-items: center;
}

.project-box {
    width: 85%;
    max-width: 1200px;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: space-around;
}

.project-row {
    max-width: 370px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.30);
    border-radius: 1rem;
    background-color: #5a535a85;
}

.project-image {
    background-color: #5a535a85;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 1rem 1rem 0 0;
}

.project-image > img {
    width: 120%;
}

.project-info {
    background-color: #5a535a85;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.7rem;
    flex-wrap: wrap;
    /* gap: 0.5rem; */
    border-radius: 0 0 1rem 1rem;
    min-height: 196.4px;
}

.project-info > .tech-stack {
    margin-block: 0.5rem;
}

.project-button {
    /* border: 1px solid red; */
    width: 100%;
    height: 45px;
    justify-content: end;
    padding-block: 0.5rem 0;
}

.project-button > .button {
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #232323;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.20);
}

@media screen and (min-width : 425px) {
    .n-ul {
        display: flex;
        opacity: 0%;
        justify-content: center;
    }
}

@media screen and (min-width : 768px) {
    .n-ul {
        list-style-type: none;
        display: flex;
        opacity: 1;
        width: 55%;
        max-width: 450px;
        font-size: 1.1rem;
        transition: opacity 0.3s;
    }

    .n-ul>li {
        width: 5.5rem;
        text-align: center;
        transition: width 0.3s;
        margin-inline: 0.4rem;
    }

    .home-box-1>.buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}