* {
    box-sizing: border-box;
}

.color-1 {
    color: #78CCF9;
}

.color-2 {
    color: #f4f4f4;
}

h3,
body,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #343034;
}

.d-flex-r {
    display: flex;
    flex-direction: row;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
}

nav {
    border-bottom: 1px solid #f0f0f0;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    margin-inline: 0.5rem;
}

.n-ul {
    list-style-type: none;
    display: none;
}

.n-ul>li {
    translate: transformX(-50rem);
    width: 0;
}

@media screen and (min-width : 425px) {
    .n-ul {
        display: flex;
        opacity: 0%;
        justify-content: center;
    }
}

@media screen and (min-width : 768px) {
    @keyframes wide {
        0% { width: 0rem; opacity: 0; }
        100% { width: 5.5rem; opacity: 1;}
    }

    .n-ul {
        list-style-type: none;
        display: flex;
        opacity: 1;
        width: 55%;
        max-width: 450px;
        font-size: 1.1rem;
        transition: opacity 0.3s;
    }

    .n-ul>li {
        width: 5.5rem;
        text-align: center;
        transition: width 0.3s;
        margin-inline: 0.4rem;
        animation: wide 0.8s linear;
    }
}